<!--============MAKE QUILTS===============-->
<div id="make-quilt">
  <!-- two columns, one with draggables other to hold them -->
  <div class="squares container">
    <div class="pieces">
      <!-- red square -->
      <div class="red piece"></div>
      <!-- orange square -->
      <div class="orange piece"></div>
      <!-- yellow square -->
      <div class="yellow piece"></div>
      <!-- green square -->
      <div class="green piece"></div>
      <!-- blue square -->
      <div class="blue piece"></div>
      <!-- purple square -->
      <div class="purple piece"></div>
      <!-- black square -->
      <div class="black piece"></div>
      <!-- white square -->
      <div class="white piece"></div>
      <!-- grey square -->
      <div class="grey piece"></div>
    </div>
    <div id="quilt-grid">
      <!-- grid for quilt block -->
      <div class="piece grid"></div>
      <div class="piece grid"></div>
      <div class="piece grid"></div>
      <div class="piece grid"></div>
      <div class="piece grid"></div>
      <div class="piece grid"></div>
      <div class="piece grid"></div>
      <div class="piece grid"></div>
      <div class="piece grid"></div>
      <div class="piece grid"></div>
      <div class="piece grid"></div>
      <div class="piece grid"></div>
      <div class="piece grid"></div>
      <div class="piece grid"></div>
      <div class="piece grid"></div>
      <div class="piece grid"></div>
    </div>
  </div>
</div>
<!--=============END MAKE QUILT============-->

<!--============SHOW QUILTS===============-->
<div id="show-quilt">
  <div class="quilts container">
    <!-- ngshow to have this hide and show -->
    <!-- ngrepeat for each piece in the block, order by position in the position ledger, variations on color with fi statements? -->
    <div class="quilt">
      <!-- edit tab for each as long as it is yours -->
      <!-- quilt image -->
      <img />
      <!-- quilt title -->
      <h4></h4>
      <!-- quilt creator username -->
      <h4></h4>
    </div>
  </div>
</div>
<!--=============END SHOW QUILT============-->
