/*body {
  background-color: purple;
}*/

/*grab the pieces in the pieces holder*/
.piece {
  width: 50px;
  height: 50px;
}

.red {
  color: red;
  background-color: red;
}
.orange {
  color: orange;
  background-color: orange;
}
.yellow {
  color: yellow;
  background-color: yellow;
}
.green {
  color: green;
  background-color: green;
}
.blue{
  color: blue;
  background-color: blue;
}
.purple {
  color: purple;
  background-color: purple;
}
.black {
  color: black;
  background-color: black;
}
.white {
  color: white;
  background-color: white;
}
.grey {
  color: grey;
  background-color: grey;
}
