body {
  font-family: "Quicksand Dash";
}

#logo {
  font-family: "Amatic SC";
  font-size: 40px;
  padding-left: 30px;
  letter-spacing: 10px;
}

a {
  font-family: "PWDotted";
  font-size: 22px;
}

h1 {
  font-family: "Quicksand Dash";
}

h2 {
  font-family: "Amatic SC";
  font-size: 30px;
  text-align: center;
  letter-spacing: 10px;
}

.banner-text {
  font-size: 15px;
}

label {
  font-size: 18px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}


@font-face {
  font-family: "PWDotted";
  src: url("../assets/PWDottedFont.ttf");
}

@font-face {
  font-family: "Quicksand Dash";
  src: url("../assets/Quicksand_Dash.otf");
}
